
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Welcome to Res+Call <small>App for All Residents</small></h1>
            </div>  
        </div>
    </div>

