<div class="container">  
 
    <div class="panel panel-success" id="patient-selection-panel"> 
    
         <a href="/">
            <button type="button" class="btn btn-default" aria-label="Left Align" id="home">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
            </button>
        </a>
       
        <div class="panel-heading">
            <h4 style="text-align:center;">Here are the current patients</h4>
        </div> 
        
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6"> 
                    {{#each patient}} 
                        <button type="button" class="btn patient-button btn-default btn-block" id="patientButton-{{this.id}}">
                            {{this.patient_name}}
                        </button> 
                        <br><br>
                    {{/each}}
                </div>

                <div class="col-md-6" id="patient-info-column">
                    <div id="update-patient-button-div"></div>

                    <span>MRN</span><br>
                    <input type="text" class="form-control no-border" id="table-MRN" value=""><br>          
                    
                    <span>Name</span>
                    <input type="text" class="form-control no-border" id="table-name" value=""><br>

                    <span>Injury</span>
                    <input type="text" class="form-control no-border" id="table-injury" value=""><br>
                    
                    <span>HPI</span>
                    <input type="text" class="form-control no-border" id="table-HPI" value=""><br>
                    
                    <span>Plan</span>
                    <span id="table-plan"></span>

                    <span id="add-update-task-span"></span>
                </div>
            </div> 
        </div> 
    
    </div> 

</div>